# Puerto donde escucha este Edge
PORT=5001

# Identidad lógica del nodo
NODE_KEY=edge-ancasti
NODE_TYPE=edge
NODE_NAME=Edge Ancasti

# URL pública desde la que otros equipos acceden a este Edge
PUBLIC_BASE_URL=http://192.168.10.27:5001

# URL del Origin al que este Edge le pedirá los canales
ORIGIN_BASE_URL=http://192.168.10.27:4001

# Carpeta local donde el Edge guarda HLS cacheado
HLS_ROOT=./storage/hls

# Ruta de ffmpeg (en Windows puede ser ffmpeg o ruta completa)
FFMPEG_PATH=ffmpeg

# Timeout de inactividad de canal
# 0 = desactivado
CHANNEL_IDLE_TIMEOUT_MS=0